@import url('https://fonts.googleapis.com/css?family=Karla');
body {
    color: #fff;
    font-family: 'Karla', Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}
#content > * {
    background: #3bbced;
    padding: 30px;
}
#content > main {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
}
/* -----------------------------------------------------------------------------
CSS Grid Layout Styles
------------------------------------------------------------------------------*/
#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    /* grid-gap: 20px; */

    /* Remove the max-width for full page display */
    /* max-width: 960px; */
    margin: 0 auto;
    /* There is not need to add more rows to the grid-template-areas because they will automatically increase when we added content. */
    grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "footer footer footer footer";
}
/* For bigger scren styles */
@media screen and (min-width: 760px) {
    #content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-auto-rows: minmax(100px, auto);
        /* grid-gap: 50px; */
        /* grid-column-gap: 50px; */
        grid-row-gap: 20px;
        /* Remove the max-width for full page display */
        /* max-width: 960px; */
        margin: 0 auto;

        /* Make better main to display more content */
        grid-template-areas:
        "header header header header header header header header header header header header"
        "main main main main main main main main main main main main"
        "main main main main main main main main main main main main"
        "main main main main main main main main main main main main"
        "main main main main main main main main main main main main"
        "footer footer footer footer footer footer footer footer footer footer footer footer";
    }
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
/* section {
grid-area: section;
} */
/* Remove aside because do not needed yet */
/* aside {
grid-area: aside;
} */
/* nav {
grid-area: nav;
} */
footer {
    grid-area: footer;
}



/* -----------------------------------------------------------------------------
Header Styles
----------------------------------------------------------------------------- */
#content > header {
    background-color: #333;
}
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.site-icon {
    background: url("../img/rocket.png");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: #fff; */
    display: block;
    width: 60px;
    height: 60px;
}

/* For bigger scren styles */
@media screen and (min-width: 760px) {
    .site-icon {
        width: 100px;
        height: 100px;
        position: absolute;
        top: 15px;
    }
}

/* ------------------------------------------------------
Navigation Styles
-------------------------------------------------------*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #333;
}
li {
    text-transform: uppercase;
    padding-bottom: 15px;
}
.dropdown-menu label {
    font-weight: bold;
}
/* For bigger scren styles */
@media screen and (min-width: 760px) {
    li {
        display: inline-block;
        padding: 12px;
    }
    .site-navigation a {
        font-size: 20px;
    }
    .dropdown-menu label {
        display: none;
    }
}
.site-navigation a:hover {
    color: rgb(255,220,119);
}
.site-navigation a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

/* Dropdown menu for smaller screen */
input#menu {
    display: none;
}

@media screen and (max-width: 760px) {
    .site-navigation {
        max-height: 0;
        overflow: hidden;
        text-align: right;
    }
    .dropdown-menu label {
        display: block;
        cursor: pointer;
        padding: 20px 0 20px 40px;
        background: url("../img/002-menu-1.png") no-repeat left center;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear;
    }
    /* Toggle effect */
    input:checked ~ label {
        background: url("../img/001-error.png") no-repeat left center;
        -webkit-transition: background 0.3s linear;
        transition: background 0.3s linear;
    }
    input:checked ~ .site-navigation {
        max-height: 100%;
    }
}
/* -----------------------------------------------------------------------------
Main
----------------------------------------------------------------------------- */
#primary {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
}
#primary > article {
    background: #333;
}
#feature-1 {
    grid-column: 1/7;
    grid-row: 1/5;
}
#feature-2 {
    grid-column: 7/13;
    grid-row: 1/3;

}
#feature-3 {
    grid-column: 7/10;
    grid-row: 3/5;
}
#feature-4 {
    grid-column: 10/13;
    grid-row: 3/5;
}
/* tables */
@media screen and (max-width: 760px) {
    #primary {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
    }
    #feature-1 {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    #feature-2 {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    #feature-3 {
        grid-column: 3/5;
        grid-row: 3/5;
    }
    #feature-4 {
        grid-column: 1/3;
        grid-row: 5/7;
    }
}
/* mobile */
@media screen and (max-width: 480px) {
    #feature-1 {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    #feature-2 {
        grid-column: 1/5;
        grid-row: 3/4;
    }
    #feature-3 {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    #feature-4 {
        grid-column: 3/5;
        grid-row: 4/5;
    }
}
main > a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: bolder;
    background-color: #333;
    position: relative;
    top: 30px;
    padding: 15px;
    -webkit-transition: background-color 0.5s ease-in;
    transition: background-color 0.5s ease-in;
}
main > a:hover {
    background-color: rgba(51, 51, 51, 0.8);
    background-color: khaki;
    color: #000;
}
/* -----------------------------------------------------------------------------
Footer
----------------------------------------------------------------------------- */
#content > footer {
    background-color: #333;
}
@media screen and (min-width: 760px) {
    #content > footer { margin-top: 20px; }
}
